
/.next
/.next/server
/.next
.next/server/server-reference-manifest.json
.next/trace
node_modules/@next/swc-linux-x64-musl/next-swc.linux-x64-musl.node
node_modules/@next/swc-linux-x64-gnu/next-swc.linux-x64-gnu.node
node_modules/next/next-swc-fallback/@next/swc-linux-x64-gnu/next-swc.linux-x64-gnu.node
node_modules/next/next-swc-fallback/@next/swc-linux-x64-musl/next-swc.linux-x64-musl.node
/.next/cache/webpack/server-development
/data
*.ipynb
